<div class="container">
<div class="post-update">
<h1> Редактировать</h1>
<%= form_for @post do |f| %>

<%= f.label :name,'Название' %>
<%= f.text_field :name%>
<%= f.label :content,'Содержание' %>
<%= f.text_area :content, style: 'height:140px;' %>

<%= f.submit  value: 'Редактировать'%>
<%end%>
</div>
</div>