<div class="post-particular">
	<h1> <%=@post.name%> </h1>
	<p><%=@post.content%></p>
	<span style="float:left"><%=@post.updated_at.strftime("%d/%m/%y")%> <%if @post.user == current_user %>
		<%=link_to 'Редактировать', edit_post_path%> | <%=link_to 'Удалить', post_path, method: :delete, data: { confirm: 'Вы уверены?'}%>
		<%end%>
	</span> <span style="float:right"><b>Автор:</b> <%=@post.user.email%>
</span>
<div class="comments">
	<% unless @post.comments.size.zero?%>
	<h3><%=link_to 'Показать комментарии', '#', id:'show-comments'%></h3>

	<div class ="comments-section">
		<div class="comments-content">
	<%= render @comments %>
</div>
	</br>
</br>
<%end%>
		<div class="comment-new">
			<%=form_for :comment, url: post_comments_path(@post), remote: true do |f|%>
			<div class="large-12 columns">
				<%=f.label :content,'Ваш комментарий:', style: 'float:left;'%>
				<%=f.text_area :content%>
				<%=f.submit 'Отправить', style: 'float:left; margin:0px;', class: 'small button' %>
			</div>
			<%end%>
		</div>
	</div>
</div>
</div>