<div class="post-particular">
	<h1> <%=@post.name%> </h1>
	<p><%=@post.content%></p>
	<span style="float:left"><%=@post.updated_at.strftime("%d/%m/%y")%> <%if @post.user == current_user %>
		<%=link_to 'Редактировать', edit_post_path%> | <%=link_to 'Удалить', post_path, method: :delete, data: { confirm: 'Вы уверены?'}%>
		<%end%>
	</span> <span style="float:right"><b>Автор:</b> <%=@post.user.email%>
</span>
<div class="comments">
	<h3>Комментарии:</h3>
	<%@comments.each do |comment|%>
	<div class="comment" style="clear:both;"> 
		<%= comment.content%>
	</br>
		<span style="float:right">Автор: <%= comment.user.email%></span>
	</div>
    <%end%>
	<div class="comment-new">
		<%=form_for :comment, url: post_comments_path(@post) do |f|%>
		<div class="large-12 columns">
			<%=f.label :content,'Ваш комментарий:', style: 'float:left;'%>
			<%=f.text_area :content%>
			<%=f.submit 'Отправить', style: 'float:right; margin:0px;', class: 'small button' %>
		</div>
		<%end%>
	</div>
</div>
</div>